.shape-30-icon8 {
  height: 40px;
  width: 40px;
  position: relative;
  mix-blend-mode: normal;
  min-height: 40px;
}
.mintbank8 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 111.7px;
  white-space: nowrap;
}
.brand-logo-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.brand-logo-container,
.navbar-items,
.shape-30-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-30-container {
  width: 155.9px;
  flex-direction: row;
  gap: var(--gap-8xs-2);
  cursor: pointer;
}
.navbar-items {
  width: 272px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.text-button65,
.text-button66,
.text-button67,
.text-button68,
.text-button69 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 52px;
  cursor: pointer;
}
.text-button66,
.text-button67,
.text-button68,
.text-button69 {
  min-width: 53px;
}
.text-button67,
.text-button68,
.text-button69 {
  min-width: 41px;
}
.text-button68,
.text-button69 {
  min-width: 75px;
}
.text-button69 {
  min-width: 72px;
}
.options-bar,
.page-options {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.options-bar {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
  font-family: var(--font-lexend);
}
.page-options {
  width: 241px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.notification-icon2,
.profile-icon2 {
  height: 55px;
  width: 55px;
  position: relative;
  border-radius: var(--br-169xl);
  object-fit: cover;
  min-height: 55px;
  cursor: pointer;
}
.action-button {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--grey-11);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.button54,
.profile-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button54 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-11xl);
  background-color: var(--green-60);
  border-radius: var(--br-63xl);
  white-space: nowrap;
}
.button54:hover {
  background-color: var(--color-greenyellow-100);
}
.profile-parent {
  gap: var(--gap-mini);
}
.navbar-w-account-container,
.navbar-w-account2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.navbar-w-account2 {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-16xl) var(--padding-lg)
    var(--padding-14xl);
  gap: var(--gap-xl);
}
.navbar-w-account-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 3px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--absolute-white);
  font-family: var(--font-lexend);
}
.screenshot-2024-04-21-at-16-03 {
  height: 95px;
  width: 95px;
  position: relative;
  border-radius: var(--br-169xl);
  object-fit: cover;
}
.text37 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-lexend);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--grey-35);
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.input-field11 {
  align-self: stretch;
  border-radius: var(--br-69xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-4xl);
}
.input-field-container,
.input-field11,
.search-bar,
.search-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 757px;
}
.search-bar,
.search-input {
  flex-direction: row;
}
.search-input {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-2xl);
}
.search-bar {
  width: 1434px;
  padding: 0 var(--padding-58xl);
  box-sizing: border-box;
}
.column-titles {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.text38 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell1,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell1 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.text39 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell2,
.content3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell2 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.text40 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell3,
.content4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content4 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell3 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.text41 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell4,
.content5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell4 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
  z-index: 1;
}
.text42 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.cell5,
.content6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell5 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.text43 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-lexend);
  color: var(--absolute-white);
  text-align: center;
}
.content7 {
  align-self: stretch;
  background-color: #171717;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell6 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  flex: 1;
  flex-direction: column;
}
.cell6,
.row,
.table,
.table-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row {
  align-self: stretch;
  background-color: var(--grey-10);
  border-bottom: 1px solid var(--green-60);
  overflow-x: auto;
  flex-direction: row;
}
.table,
.table-1 {
  flex-direction: column;
}
.table {
  align-self: stretch;
  border-radius: 4px;
  background-color: var(--grey-10);
  overflow: hidden;
}
.table-1 {
  width: 1500px;
}
.no-transactions-yet {
  width: 1499px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  display: none;
}
.container37 {
  width: 1599px;
  border-radius: var(--br-xl);
  background-color: var(--grey-11);
  overflow-x: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-30xl) var(--padding-31xl)
    var(--padding-31xl);
  box-sizing: border-box;
}
.container37,
.main-content3,
.page-body {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.page-body {
  width: 1599px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.main-content3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
  color: #d9d9d9;
  font-family: var(--font-lexend);
}
.shape-30-icon9 {
  height: 40px;
  width: 40px;
  position: relative;
  mix-blend-mode: normal;
  min-height: 40px;
}
.mintbank9 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 111.7px;
}
.footer-brand-name-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.footer-branding,
.footer-content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-branding {
  width: 155.9px;
  justify-content: flex-start;
  gap: var(--gap-8xs-2);
  cursor: pointer;
}
.footer-content2 {
  width: 1596px;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--absolute-white);
}
.text-button70,
.text-button71,
.text-button72,
.text-button73,
.text-button74 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 52px;
  cursor: pointer;
}
.text-button71,
.text-button72,
.text-button73,
.text-button74 {
  min-width: 53px;
}
.text-button72,
.text-button73,
.text-button74 {
  min-width: 41px;
}
.text-button73,
.text-button74 {
  min-width: 75px;
}
.text-button74 {
  min-width: 72px;
}
.footer-nav-buttons,
.footer-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-nav-buttons {
  width: 310px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-navigation1 {
  width: 1596px;
  justify-content: center;
}
.icon82,
.line25 {
  position: relative;
}
.line25 {
  width: 1596px;
  height: 1px;
  border-top: 1px solid var(--grey-15);
  box-sizing: border-box;
  max-width: 100%;
}
.icon82 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.text-button75 {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.button55 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.icon83 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.text-button76 {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.button56 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.icon84 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.text-button77 {
  position: relative;
  line-height: 150%;
}
.action-buttons3,
.button57,
.footer-actions2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button57 {
  border-radius: var(--br-7xs);
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.action-buttons3,
.footer-actions2 {
  max-width: 100%;
}
.action-buttons3 {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footer-actions2 {
  width: 1596px;
  justify-content: center;
}
.icon85,
.line26 {
  position: relative;
}
.line26 {
  width: 1596px;
  height: 1px;
  border-top: 1px solid var(--grey-15);
  box-sizing: border-box;
  max-width: 100%;
}
.icon85 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button58 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--green-60);
  height: 52px;
  width: 52px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.icon86 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button59 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--green-60);
  height: 52px;
  width: 52px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.icon87 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button60,
.social-media-icons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button60 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--green-60);
  height: 52px;
  width: 52px;
  border-radius: var(--br-81xl);
  flex-direction: column;
  box-sizing: border-box;
}
.social-media-icons1 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.text44 {
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.copyright3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-5) 0 0;
}
.text-button78 {
  position: relative;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  min-width: 118px;
}
.link-divider1 {
  height: 28px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--grey-shades-70);
  box-sizing: border-box;
}
.text-button79 {
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.container38,
.footer-nav-links,
.legal-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-nav-links {
  height: 27px;
  flex-direction: row;
  gap: var(--gap-xs-5);
}
.container38,
.legal-links1 {
  flex-direction: column;
  padding: var(--padding-smi-5) 0 0;
}
.container38 {
  width: 1596px;
  border-radius: var(--br-81xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-sm)
    var(--padding-base);
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-shades-70);
  font-family: var(--font-lexend);
}
.activity-page-desktop,
.footer-section4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer-section4 {
  align-self: stretch;
  background-color: var(--grey-11);
  align-items: center;
  padding: var(--padding-80xl-5) var(--padding-xl) var(--padding-31xl);
  gap: var(--gap-30xl-7);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white-shades-90);
  font-family: var(--font-lexend);
}
.activity-page-desktop {
  width: 100%;
  position: relative;
  background-color: var(--grey-10);
  align-items: flex-start;
  padding: var(--padding-31xl) 0 0;
  gap: 457px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .container37,
  .search-bar {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .container37 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-5xl);
  }
}
@media screen and (max-width: 1050px) {
  .page-options {
    display: none;
  }
  .input-field-container {
    min-width: 100%;
  }
  .container38 {
    flex-wrap: wrap;
  }
  .activity-page-desktop {
    gap: 228px;
  }
}
@media screen and (max-width: 750px) {
  .page-body {
    gap: var(--gap-2xl);
  }
  .action-buttons3 {
    flex-wrap: wrap;
  }
  .footer-section4 {
    gap: var(--gap-6xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .activity-page-desktop {
    gap: 114px;
  }
}
@media screen and (max-width: 450px) {
  .options-bar {
    display: none;
  }
  .page-options {
    width: 0;
  }
  .column-titles,
  .mintbank9,
  .text38,
  .text39,
  .text40,
  .text41,
  .text42,
  .text43 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .footer-nav-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.data1, .data2, .data3, .data4, .data5, .data6, .data7 {
  align-self: stretch;
  background-color: #262626;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}

