.shape-30-icon13 {
  height: 40px;
  width: 40px;
  position: relative;
  mix-blend-mode: normal;
}
.remove-1-icon1 {
  width: 30px;
  height: 30px;
  position: relative;
  object-fit: cover;
}
.remove-action,
.shape-30-parent2 {
  display: flex;
  align-items: flex-start;
}
.remove-action {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.shape-30-parent2 {
  width: 333px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.heading35 {
  margin: 0;
  width: 150px;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.card-heading {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.generic-card-1-icon {
  height: 98px;
  width: 150px;
  position: relative;
  border-radius: var(--br-7xs);
  object-fit: cover;
}
.card-input {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.placeholder1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-lexend);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--grey-35);
  text-align: left;
  display: inline-block;
  min-width: 169px;
  padding: 0;
}
.input-field12 {
  align-self: stretch;
  border-radius: var(--br-69xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.text54 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-lexend);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--grey-35);
  text-align: left;
  display: inline-block;
  min-width: 169px;
  padding: 0;
}
.input-field13 {
  align-self: stretch;
  border-radius: var(--br-69xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.text55 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-lexend);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--grey-35);
  text-align: left;
  display: inline-block;
  min-width: 169px;
  padding: 0;
}
.input-field14 {
  align-self: stretch;
  border-radius: var(--br-69xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.text56 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-lexend);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--grey-35);
  text-align: left;
  display: inline-block;
  min-width: 169px;
  padding: 0;
}
.container47,
.input-field15 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field15 {
  border-radius: var(--br-69xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.container47 {
  border-radius: var(--br-xl);
  background-color: var(--grey-11);
  flex-direction: column;
  padding: var(--padding-3xs);
  gap: var(--gap-lg);
}
.text57 {
  margin-left: -8px;
  width: 129px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.action-button1,
.button76 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button76 {
  width: 113px;
  border-radius: var(--br-63xl);
  background-color: var(--green-60);
  justify-content: flex-start;
  padding: 10.5px 0;
  white-space: nowrap;
  cursor: pointer;
}
.action-button1 {
  width: 331px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.card-content {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-lg);
  color: var(--grey-11);
}
.card-content,
.card-header,
.container46,
.credit-card-form {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.card-header {
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29px;
}
.container46,
.credit-card-form {
  width: 608px;
  flex-direction: row;
  justify-content: center;
}
.container46 {
  width: 660px;
  border-radius: var(--br-xl);
  background-color: var(--grey-11);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-mid) 923px;
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.addcredit-card-desktop {
  width: 100%;
  position: relative;
  background-color: var(--grey-10);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--absolute-white);
  font-family: var(--font-lexend);
}
@media screen and (max-width: 1200px) {
  .container46 {
    padding-top: var(--padding-xl);
    padding-bottom: 600px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .container46 {
    gap: var(--gap-5xl);
    padding-bottom: 390px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .shape-30-parent2 {
    flex-wrap: wrap;
  }
  .heading35 {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
}